[loggers]
keys=root

[logger_root]
handlers=file
level=INFO

[handlers]
keys=file

[handler_file]
class=handlers.TimedRotatingFileHandler
interval=midnight
backupCount=5
formatter=axisdata
args=('logs/app.log',)

[formatters]
keys=axisdata

[formatter_axisdata]
format=[%(asctime)s] [%(levelname)s] [%(module)s] %(message)s
